.home {
    /* background-color: aquamarine; */
    display: flex;
    margin-top: 0px;
    min-height: 100vh;
    background-color: #282c34; 
  }
  
  .homeContainer {
    display: contents;
    margin-left: 10px;
    /* background-color: cadetblue; */
    /* box-shadow: 1px 1px 10px 10px rgba(2, 1, 1, 0.47); 
     box-shadow: -10px -4px 10px -5px rgba(0, 0, 0, 0.75);
    -webkit-box-shadow: -10px -4px 10px -5px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: -10px -4px 10px -5px rgba(0, 0, 0, 0.75); */
    border-radius: 10px;
  }

  p {
    font-size: large;
    margin-left: 30px;
  }

  .notifications-container{
    display: flow-root;
  }

  .notification-card{
    width: 100%;
    border-radius: 10px;
    margin: 10px;
    padding: 20px;
    display: list-item;
  }

  .button{
    background-color: #4CAF50; /* Green */
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
  }