@keyframes fadeIn {
    from {
      opacity: 0;
    }
  
    to {
     opacity: 1;
    }
  }

.table-container{
    animation: fadeIn 1s;
    padding-top: 16px;
    margin:auto;
    background-color: #393E46;
    border-radius: 5px;
    padding-top: 24px;
}
.sticky {
    text-align: left;
}
.table-bg {
    padding-top: 60px;

    background-color: #393E46;
}

.checker-header {
    background-color: #393E46;
    height: 100px;
    font-size: 40px;
    display: block;
}
.document-checker {
    display: flex;
    justify-content: space-evenly;
    padding-top: 30px;
}
.checker-body {
    background-color: #393E46;
}
.id-images {
    text-align: center;
}
.id-icon {
    width: 100px;
}
.green {
    color: green;
    font-weight: 700;
}
.red {
    color: red;
    font-weight: 700;
}
.id-checker {
    display: block;
}
.text-table{
    color: #EEEEEE;
    text-align: center;
    font-weight: 700;
    font-size: 32px;
}
.back {
    font-size: 20px;
    font-weight: 700;
    text-align: left;
    color: black;
}
.submit-id {
    text-align: center;
}
.doc-status {
    padding-right: 4px;
    display: inline;
}
.student-status {
    padding-right: 4px;
}
.appliances-table {
    margin: auto;
}

.user-card{
    display: inline-flex;
    width: 270px;
}

.user-container{
    display: flow-root;
}